* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Brown-Pro", Helvetica, Arial, sans-serif;
}

#body {
    min-height: calc(100vh - 120px) !important;
}

.white-text {
    color: white;
}

.black-bgr {
    color: white;
    background-color: black;
}

.uppercase {
    text-transform: uppercase !important;
}

.nav > ul {
    display: flex;
    list-style-type: none;
}