#slider {
    background-image: url('https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/plp-landing/plp-landing-hero-1-desktop.png?v=1');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 46px - 126px);
}

#slider > .content {
    width: 25%;
    margin-left: 9%;
    padding-top: 100px;
}

#slider > .content > .pr {
    width: 75%;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px;
}

#slider > .content > .title {
    font-size: 48px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 5px;
}

#slider > .content > hr {
    margin: 25px 0;
    width: 30%;
    border: 6px solid #C3C6C8;
    background-color: #C3C6C8;
}

#slider > .content > .description {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.375;
}

/* ----------------------------------------------------------- */
#introduce {
    min-height: 25vh;
    height: 400px;
    padding: 40px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
}

#introduce > .content {
    padding-top: 8%;
    text-align: center;
    max-width: 600px;
}

#introduce > .content > .title {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 20px;
}

#introduce > .content > .description {
    font-weight: 300px;
    font-size: 16px;
    line-height: 1.375;
    margin-bottom: 20px;
}

/* ----------------------------------------------------------- */
#product > .mouse {
    background-image: url('https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/plp-landing/plp-landing-banner-1-desktop.png?v=1');
}

#product > .headphone {
    background-image: url('https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/plp-landing/plp-landing-banner-4-desktop.png?v=1');
}

#product > .keyboard {
    background-image: url('https://resource.logitechg.com/w_1800,c_limit,f_auto,q_auto,f_auto,dpr_auto/d_transparent.gif/content/dam/gaming/en/plp-landing/plp-landing-banner-3-desktop.png?v=1');
}

#product > .item {
    position: relative;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#product > .item > .content {
    position: absolute;
    width: 25%;
    margin: 40px;
    padding-top: 100px;
}

#product > .item > .right {
    position: absolute;
    right: 0;
}

#product > .item > .content > .title {
    font-size: 38px;
    line-height: 1;
    font-weight: 700;
    margin-bottom: 0.4px;
}

#product > .item > .content > hr {
    margin: 25px 0;
    width: 30%;
    border: 6px solid #C3C6C8;
    background-color: #C3C6C8;
}

#product > .item > .content > .description {
    font-weight: 300px;
    font-size: 16px;
    line-height: 1.375;
    margin-bottom: 20px;
}

#product > .item > .content > a {
    color: #00B8FC;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    text-decoration: none;
}

#product > .item > .content > a:hover > i {
    padding-left: 5px;
}

/* ----------------------------------------------------------- */
#contact {
    margin: 30px;
}

#contact > div {
    margin: 5px;
}

#contact > div > a {
    color: blue;
    text-decoration: none;
}
/* ----------------------------------------------------------- */
#aboutus-slider {
    background-image: url('img/about-contactus.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 46px - 126px);
}

#aboutus-slider > .content {
    padding-top: 10%;
    text-align: center;
    width: 105%;
    margin-left: 10%;
}

#aboutus-slider > .content > .pr {
    width: 75%;
    font-size: 50px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 10px;
}
/* ----------------------------------------------------------- */
#aboutus-introduce {
    min-height: 25vh;
    height: 800px;
    padding: 40px;
    background-color: #F4F4F4;
    display: flex;
    justify-content: center;
}

#aboutus-introduce > .content {
    padding-top: 8%;
    text-align: center;
    max-width: 600px;
}

#aboutus-introduce > .content > .title {
    font-size: 36px;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: bold;
}

#aboutus-introduce > .content > .description {
    font-weight: 300px;
    font-size: 16px;
    line-height: 1.375;
    margin-bottom: 20px;
}
/* ----------------------------------------------------------- */
.trending-area .trending-main .trending-top .trend-top-img{
    overflow:hidden;
    position:relative}
.trending-area .trending-main .trending-top .trend-top-img::before{
    position:absolute;
    width:100%;
    height:100%;
    bottom:0;
    content:""}
.trending-area .trending-main .trending-top .trend-top-img img{
    width:100%;
    border-radius:7px}
.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap{
    position:absolute;
    bottom:25px;
    left:31px}
.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap span{
    background:#fff9c6;
    color:#000;
    padding:9px 20px;
    border-radius:5px;
    text-transform:uppercase;
    font-weight:500;
    font-size:11px;
    line-height:1;
    margin-bottom:19px;
    display:inline-block}
.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap h2{
    font-size:30px}
.trending-area .trending-main .trending-top .trend-top-img .trend-top-cap h2 a{
    color:#fff;
    font-weight:700;
    line-height:1.3}
/* ----------------------------------------------------------- */
.trending-area .trending-main .trand-right-single{
    margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #eee}
.trending-area .trending-main .trand-right-single:last-child{
    border-bottom:0}
.trending-area .trending-main .trand-right-single .trand-right-img img{
    border-radius:6px}
.trending-area .trending-main .trand-right-single .trand-right-cap{
    padding-left:18px}
.trending-area .trending-main .trand-right-single .trand-right-cap span{
    background-color: aquamarine;
    color:#000;text-transform:uppercase;font-size:11px;font-weight:400;padding:10px 15px;line-height:1;margin-bottom:15px;display:inline-block}
.trending-area .trending-main .trand-right-single .trand-right-cap h4{
    font-size:18px}
.trending-area .trending-main .trand-right-single .trand-right-cap h4 a{
    color: #000;
    font-weight:500;line-height:1.4}
.trending-area .trending-main .trand-right-single .trand-right-cap h4 a:hover{
    color:#fc3f00}
/* ----------------------------------------------------------- */
.trending-bottom .single-bottom .trend-bottom-img{
    overflow:hidden}
.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-img img{
    width:100%;border-radius:5px;transform:scale(1);transition:all 0.5s ease-out 0s}
.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap span{
    background-color: greenyellow;
    color:#000;text-transform:uppercase;font-size:11px;font-weight:400;padding:10px 15px;line-height:1;margin-bottom:15px;display:inline-block}
.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4{
    font-size:18px}
.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 a{
    color: #000;
    font-weight:500;line-height:1.4}
.trending-area .trending-main .trending-bottom .single-bottom .trend-bottom-cap h4 a:hover{
    color:#fc3f00}
/* ----------------------------------------------------------- */
.weekly2-news-area .weekly2-wrapper .weekly2-single{
    margin-left:15px;margin-right:15px}
.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-img img{
    width:100%;border-radius:6px}
.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption{
    margin-top:-31px}
.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption span{
    background-color: mediumpurple;
    color:#000;text-transform:uppercase;font-size:11px;font-weight:500;padding:10px 15px;line-height:1;margin-bottom:15px;display:inline-block}
.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption h4 a{
    color: #000;
    font-size:18px;font-weight:700;line-height:1.4}
.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption h4 a:hover{
    color:#fc3f00}
.weekly2-news-area .weekly2-wrapper .weekly2-single .weekly2-caption p{
    margin-bottom:0}
.weekly2-news-area .weekly2-wrapper .dot-style .slick-dots{
    text-align:center;right:-2px;top:-40px;position:absolute}
.weekly2-news-area .weekly2-wrapper .dot-style .slick-dots li{
    display:inline-block}
.weekly2-news-area .weekly2-wrapper .dot-style .slick-dots button{
    text-indent:-100000px;height:8px;width:8px;border:0;padding:0;margin-right:10px;cursor:pointer;border-radius:50%;background:#d6d6d6}
.weekly2-news-area .weekly2-wrapper .dot-style .slider-active.dot-style .slick-dots button{
    text-indent:-100000px;height:10px;width:10px;border:0;padding:0;margin-right:10px;cursor:pointer;border-radius:50%;margin-bottom:84px}
.weekly2-news-area .weekly2-wrapper .dot-style .slick-list{
    margin-left:-15px;margin-right:-15px}
.weekly2-news-area .weekly2-wrapper .dot-style .slick-active button{
    background:#fc4902;height:9px;width:38px;border-radius:10px}
/* ----------------------------------------------------------- */
.pagination-area .page-item{
    margin:0}
.pagination-area .page-item:first-child{
    margin:0}
.pagination-area .page-link{
    color:#777777;border:0;font-size:15px;text-align:center;background:none;padding:0 10px;box-shadow:none;outline:0}
.pagination-area .page-link:hover{
    color:#fc3f00}
.pagination-area .page-item.active .page-link{
    z-index:1;color:#000;background:none;border:0;position:relative;box-shadow:none;outline:0}
.pagination-area .page-item.active .page-link::before{
    position:absolute;content:"";width:38px;height:3px;background:#fc3f00;top:-50px;top:-24px;left:0}
.pagination-area .page-item.active .page-link:hover{
    color:#fc3f00}
/* ----------------------------------------------------------- */
.about-right .about-img img{
    width:100%}
.about-area .about-right .about-prea p{
    font-size:15px}
/* ----------------------------------------------------------- */
.social-share ul li{
    display:inline-block;margin:0 10px}
.social-share ul li .section-tittle{
    display:flex}
.social-share .section-tittle{
    display:flex}

@media screen and (max-width: 1024px) {
    #slider {
        background-image: url('https://resource.logitechg.com/w_1024,ar_3:4,c_limit,q_auto,f_auto,dpr_2.0/d_transparent.gif/content/dam/gaming/en/plp-landing/plp-landing-hero-1-tablet.png?v=1');
        height: calc(100vh - 64px);
    }
}

@media screen and (max-width: 720px) {
    #slider {
        background-image: url('https://resource.logitechg.com/w_719,ar_9:16,c_limit,q_auto,f_auto,dpr_2.0/d_transparent.gif/content/dam/gaming/en/plp-landing/plp-landing-hero-1-mobile.png?v=1');
    }
}
