#product {
    display: flex;
    background-color: #251462;
}

#product > .image {
    width: 60%;
}

#product > .image > .main {
    margin: 5%;
}

#product > .image > .main > img {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
}

#product > .image > .other {
    justify-content: center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#product > .image > .other > a {

}

#product > .image > .other > a > button {
    padding: 5px;
    width: 100%;
    margin: 20px;
    background-color: #251462;
    cursor: pointer;
    border-radius: 7px;
    border-width: 2.5px;
    border-color: #697172;
    height: 80px;
    width: 80px;
    border: 1px solid #c3c6c8;
    outline: none;
}

#product > .image > .other > a > button > img {
    width: 100%;
}

#product > .detail {
    width: 40%;
    margin: 0 20px 0 8%;
    padding: 117px 0 100px 0;
}

#product > .detail > .title {
    line-height: 1.2;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

#product > .detail > .price {
    font-size: 16px;
}

#product > .detail > .description {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    margin: 30px 0;
}

#product > .detail > .buy > button {
    min-width: 30px;
    min-height: 30px;
    padding: 5px;
    cursor: pointer;
    background-color: black;
    color: white;
}

#product > .detail > .buy > input {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #251462;
}

#product > .detail > .buy > .id {
    display: none;
}